<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Mon Personnage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <img class="header" th:src="@{/photos/DND-1.png}" alt="DnD photo"/>
    <hr/>
    <div class="card mx-auto" style="width: 18rem;">
        <img class="card-img-top" th:src="@{/photos/avatar.jpg}" alt="Image de l'avatar">
        <div class="card-body">
            <h5 class="card-title">Mon Personnage</h5>
            <p class="card-text">Bienvenue sur ta page de présentation du personnage ! Ici tu retrouveras toutes les infos relatives à celui-ci</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="'Nom : '+ ${character.name}"></li>
            <li class="list-group-item" th:text="'Classe : '+ ${character.type}"></li>
            <li class="list-group-item" th:text="'PdV : '+ ${character.hp}"></li>
        </ul>
        <div class="card-body">
            <a th:href="@{/liste-des-personnages}" class="card-link">Revenir à la liste des personnages</a>
            <a href="#" class="card-link">Démarer l'aventure</a>
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>